<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Додати книгу - PaperShare</title>
    <div th:replace="~{fragments/links}"></div>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="bg-white py-12 mx-auto max-w-7xl px-6 lg:px-8 sm:py-16">
        <form th:action="@{/book/create}" th:object="${book}" method="post" enctype="multipart/form-data">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Книга</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-600">Уважно заповніть всі необхідні поля.</p>

                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label th:for="title" class="block text-sm font-medium leading-6 text-gray-900">Назва книги</label>
                            <div class="mt-2">
                                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                    <input type="text" th:field="*{title}" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label th:for="description" class="block text-sm font-medium leading-6 text-gray-900">Про книжку</label>
                            <div class="mt-2">
                                <textarea th:field="*{description}" rows="3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                            </div>
                            <p class="mt-3 text-sm leading-6 text-gray-600">Напишіть декілька речень про книгу.</p>
                        </div>

                        <div class="col-span-full">
                            <label class="block text-sm font-medium leading-6 text-gray-900">Обкладинка</label>
                            <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                                <div class="text-center">
                                    <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                                    </svg>
                                    <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                        <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                            <input id="file-upload" name="uploaded-image" type="file">
                                        </label>
                                    </div>
                                    <p class="text-xs leading-5 text-gray-600">PNG, JPG, WEBP</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Інформація про книгу</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-600">Вся інформація є обов'язковою до заповнення</p>

                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                            <label th:for="author" class="block text-sm font-medium leading-6 text-gray-900">Автор</label>
                            <div class="mt-2">
                                <input type="text" th:field="*{author}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label th:for="author" class="block text-sm font-medium leading-6 text-gray-900">Видавець</label>
                            <div class="mt-2">
                                <input type="text" th:field="*{publisher}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label th:for="language" class="block text-sm font-medium leading-6 text-gray-900">Мова</label>
                            <div class="mt-2">
                                <select th:field="*{language}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                    <option value="Українська" selected>Українська</option>
                                    <option value="Англійська">Англійська</option>
                                    <option value="Французька">Французька</option>
                                    <option value="Німецька">Німецька</option>
                                    <option value="Іспанська">Іспанська</option>
                                    <option value="Португальська">Португальська</option>
                                    <option value="Італійська">Італійська</option>
                                    <option value="Польська">Польська</option>
                                    <option value="Чеська">Чеська</option>
                                    <option value="Словацька">Словацька</option>
                                    <option value="Угорська">Угорська</option>
                                    <option value="Румунська">Румунська</option>
                                    <option value="Болгарська">Болгарська</option>
                                    <option value="Сербська">Сербська</option>
                                    <option value="Хорватська">Хорватська</option>
                                    <option value="Македонська">Македонська</option>
                                    <option value="Словенська">Словенська</option>
                                    <option value="Голландська">Голландська</option>
                                    <option value="Данська">Данська</option>
                                    <option value="Шведська">Шведська</option>
                                    <option value="Норвезька">Норвезька</option>
                                    <option value="Фінська">Фінська</option>
                                    <option value="Естонська">Естонська</option>
                                    <option value="Литовська">Литовська</option>
                                    <option value="Латвійська">Латвійська</option>
                                    <option value="Грецька">Грецька</option>
                                    <option value="Білоруська">Білоруська</option>
                                    <option value="Вірменська">Вірменська</option>
                                    <option value="Грузинська">Грузинська</option>
                                    <option value="Азербайджанська">Азербайджанська</option>
                                    <option value="Японська">Японська</option>
                                    <option value="Корейська">Корейська</option>
                                    <option value="Китайська (спрощена)">Китайська (спрощена)</option>
                                    <option value="Китайська (традиційна)">Китайська (традиційна)</option>
                                    <option value="Арабська">Арабська</option>
                                    <option value="Іврит">Іврит</option>
                                    <option value="Гінді">Гінді</option>
                                </select>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label th:for="coverType" class="block text-sm font-medium leading-6 text-gray-900">Тип обкладинки</label>
                            <div class="mt-2">
                                <select th:field="*{coverType}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                    <option value="Тверда" selected>Тверда</option>
                                    <option value="М'яка">М'яка</option>
                                    <option value="М'яка і суперобкладинка">М'яка і суперобкладинка</option>
                                    <option value="Тверда і суперобкладинка">Тверда і суперобкладинка</option>
                                    <option value="Інша">Інша</option>
                                </select>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label th:for="publicationYear" class="block text-sm font-medium leading-6 text-gray-900">Рік видання</label>
                            <div class="mt-2">
                                <input type="number" th:field="*{publicationYear}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label th:for="numberOfPages" class="block text-sm font-medium leading-6 text-gray-900">Кількість сторінок</label>
                            <div class="mt-2">
                                <input type="number" th:field="*{numberOfPages}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label th:for="isbn" class="block text-sm font-medium leading-6 text-gray-900">ISBN</label>
                            <div class="mt-2">
                                <input type="text" th:field="*{isbn}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label th:for="genre" class="block text-sm font-medium leading-6 text-gray-900">Жанри (при виборі декількох зажимайте Ctrl)</label>
                            <div class="mt-2">
                                <select multiple th:field="*{genre}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                    <option value="Англійський детектив">Англійський детектив</option>
                                    <option value="Містичний детектив">Містичний детектив</option>
                                    <option value="Історичний детектив">Історичний детектив</option>
                                    <option value="Шпигунський детектив">Шпигунський детектив</option>
                                    <option value="Скандинавський детектив">Скандинавський детектив</option>
                                    <option value="Пригоди">Пригоди</option>
                                    <option value="Жахи, трилери">Жахи, трилери</option>
                                    <option value="Психологічні трилери">Психологічні трилери</option>
                                    <option value="Кримінальні трилери">Кримінальні трилери</option>
                                    <option value="Українська драматургія">Українська драматургія</option>
                                    <option value="Зарубіжна драматургія">Зарубіжна драматургія</option>
                                    <option value="Історичні романи">Історичні романи</option>
                                    <option value="Екранізовані книги">Екранізовані книги</option>
                                    <option value="Воєнна проза">Воєнна проза</option>
                                    <option value="Проза">Проза</option>
                                    <option value="Зарубіжна класика">Зарубіжна класика</option>
                                    <option value="Сучасна зарубіжна проза">Сучасна зарубіжна проза</option>
                                    <option value="Сучасна українська проза">Сучасна українська проза</option>
                                    <option value="Українська класика">Українська класика</option>
                                    <option value="Фантастика">Фантастика</option>
                                    <option value="Надприродне">Надприродне</option>
                                    <option value="Антиутопії">Антиутопії</option>
                                    <option value="Космічна фантастика">Космічна фантастика</option>
                                    <option value="Постапокаліпсис">Постапокаліпсис</option>
                                    <option value="Наукова фантастика">Наукова фантастика</option>
                                    <option value="Стімпанк">Стімпанк</option>
                                    <option value="Кіберпанк">Кіберпанк</option>
                                    <option value="Подорожі в часі">Подорожі в часі</option>
                                    <option value="Комікси">Комікси</option>
                                    <option value="Манґа">Манґа</option>
                                    <option value="Короткі історії">Короткі історії</option>
                                    <option value="Есеїстика">Есеїстика</option>
                                    <option value="Цитати й афоризми">Цитати й афоризми</option>
                                    <option value="Жіноча проза">Жіноча проза</option>
                                    <option value="Любовні романи">Любовні романи</option>
                                    <option value="Фентезі">Фентезі</option>
                                    <option value="Поезія">Поезія</option>
                                    <option value="Класична зарубіжна поезія">Класична зарубіжна поезія</option>
                                    <option value="Сучасна зарубіжна поезія">Сучасна зарубіжна поезія</option>
                                    <option value="Класична українська поезія">Класична українська поезія</option>
                                    <option value="Сучасна українська поезія">Сучасна українська поезія</option>
                                    <option value="Патріотична поезія">Патріотична поезія</option>
                                    <option value="Антології">Антології</option>
                                    <option value="Белетризовані біографії">Белетризовані біографії</option>
                                    <option value="Довідники">Довідники</option>
                                    <option value="Словники">Словники</option>
                                    <option value="Орфографічні словники">Орфографічні словники</option>
                                    <option value="Орфоепічні словники">Орфоепічні словники</option>
                                    <option value="Тлумачні словники">Тлумачні словники</option>
                                    <option value="Енциклопедії">Енциклопедії</option>
                                    <option value="Навчальна література">Навчальна література</option>
                                    <option value="Методична література">Методична література</option>
                                    <option value="Підручники та посібники">Підручники та посібники</option>
                                    <option value="Езотерика">Езотерика</option>
                                    <option value="Комп'ютерна література">Комп'ютерна література</option>
                                    <option value="Філософія">Філософія</option>
                                    <option value="Спорт і туризм">Спорт і туризм</option>
                                    <option value="Саморозвиток">Саморозвиток</option>
                                    <option value="Бізнес-література">Бізнес-література</option>
                                    <option value="Біографії відомих людей">Біографії відомих людей</option>
                                    <option value="Юридична література">Юридична література</option>
                                    <option value="Культура та мистецтво">Культура та мистецтво</option>
                                    <option value="Медична література">Медична література</option>
                                    <option value="Здоров'я та краса">Здоров'я та краса</option>
                                    <option value="Мотиваційні книги">Мотиваційні книги</option>
                                    <option value="Логіка">Логіка</option>
                                    <option value="Історія">Історія</option>
                                    <option value="Економічна література">Економічна література</option>
                                    <option value="Технічна література">Технічна література</option>
                                    <option value="Хобі та дозвілля">Хобі та дозвілля</option>
                                    <option value="Релігія">Релігія</option>
                                    <option value="Екологія й охорона довкілля">Екологія й охорона довкілля</option>
                                    <option value="Науково-популярна література">Науково-популярна література</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <a class="text-sm font-semibold leading-6 text-gray-900" th:href="@{/}">Скасувати</a>
                <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Зберегти</button>
            </div>
        </form>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>