<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Перегляд книги - PaperShare</title>
    <div th:replace="~{fragments/links}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="bg-white">
    <div th:object="${book}" class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 px-4 py-8 sm:px-6 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
        <div>
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl" th:text="*{title}"></h2>
            <p class="mt-4 text-gray-500" th:text="*{description}"></p>

            <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">Автор</dt>
                    <dd class="mt-2 text-sm text-gray-500" th:text="*{author}"></dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">Видавець</dt>
                    <dd class="mt-2 text-sm text-gray-500" th:text="*{publisher}"></dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">Рік видання</dt>
                    <dd class="mt-2 text-sm text-gray-500" th:text="*{publicationYear}"></dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">Кількість сторінок</dt>
                    <dd class="mt-2 text-sm text-gray-500" th:text="*{numberOfPages}"></dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">Жанри</dt>
                    <dd class="mt-2 text-sm text-gray-500" th:text="*{genre}"></dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">Мова</dt>
                    <dd class="mt-2 text-sm text-gray-500" th:text="*{language}"></dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">Тип обкладинки</dt>
                    <dd class="mt-2 text-sm text-gray-500" th:text="*{coverType}"></dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">ISBN</dt>
                    <dd class="mt-2 text-sm text-gray-500" th:text="*{isbn}"></dd>
                </div>
            </dl>
        </div>

        <div class="h-[40rem] w-80">
            <img th:src="*{imageUrl}" alt="cover" class="cover-cover rounded-lg bg-gray-100">
            <div class="mt-8" th:if="${isNotOwner}">
                <div sec:authorize="isAuthenticated()" class="mt-8 space-y-2">
                    <a th:href="@{/exchange/create(requestedBook=${book.id})}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Запропонувати обмін</a>
                    <button th:id="'addToWishlistBtn-'+${book.id}" type="button"
                            class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded"
                            th:data-book-id="${book.id}">
                        Додати в список бажань
                    </button>
                </div>
                <p sec:authorize="!isAuthenticated()" class="font-medium text-gray-900">Для здійснення обміну необхідно <a class="text-blue-600 hover:opacity-75" th:href="@{/user/auth/sign_in}">авторизуватись</a></p>
            </div>
        </div>

        <div class="container">
            <h1 class="text-xl font-medium mb-4">Книга додана користувачем <span class="text-blue-500"><a th:href="@{'/user/'+${owner.username}}" th:text="${owner.username}"></a></span> <span class="text-gray-500" th:text="${#temporals.format(book.createdAt, 'dd.MM.yyyy HH:mm')}"></span> </h1>
            <h2 class="text-xl font-medium mb-4">Рейтинг користувача</h2>
            <div>
                <p class="font-semibold">Достовірність наданої інформації про книги:</p>
                <div class="flex items-center">
                    <div th:each="i : ${#numbers.sequence(1, 5)}"
                         class="flex items-center mr-1">
                        <svg th:if="${owner.averageInformationAccuracy != null} and ${owner.averageInformationAccuracy >= i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-full-star"/>
                        </svg>
                        <svg th:if="${owner.averageInformationAccuracy != null} and ${owner.averageInformationAccuracy >= (i - 0.5) and owner.averageInformationAccuracy < i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-half-star"/>
                        </svg>
                        <svg th:if="${owner.averageInformationAccuracy == null} or ${owner.averageInformationAccuracy < (i - 0.5)}"
                             class="w-8 h-8 text-gray-300 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-empty-star"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <p class="font-semibold">Швидкість відправлення книг:</p>
                <div class="flex items-center">
                    <div th:each="i : ${#numbers.sequence(1, 5)}"
                         class="flex items-center mr-1">
                        <svg th:if="${owner.averageShippingSpeed != null} and ${owner.averageShippingSpeed} >= ${i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-full-star"/>
                        </svg>
                        <svg th:if="${owner.averageShippingSpeed != null} and ${owner.averageShippingSpeed >= (i - 0.5) and owner.averageShippingSpeed < i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-half-star"/>
                        </svg>
                        <svg th:if="${owner.averageShippingSpeed == null} or ${owner.averageShippingSpeed < (i - 0.5)}"
                             class="w-8 h-8 text-gray-300 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-empty-star"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <p class="font-semibold">Загальний досвід обміну з користувачем:</p>
                <div class="flex items-center">
                    <div th:each="i : ${#numbers.sequence(1, 5)}"
                         class="flex items-center mr-1">
                        <svg th:if="${owner.averageOverallExperience != null} and ${owner.averageOverallExperience} >= ${i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-full-star"/>
                        </svg>
                        <svg th:if="${owner.averageOverallExperience != null} and ${owner.averageOverallExperience >= (i - 0.5) && owner.averageOverallExperience < i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-half-star"/>
                        </svg>
                        <svg th:if="${owner.averageOverallExperience == null} or ${owner.averageOverallExperience < (i - 0.5)}"
                             class="w-8 h-8 text-gray-300 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-empty-star"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <svg id="stars" style="display: none;">
        <symbol id="stars-empty-star" viewBox="0 0 20 20" fill="#F1E8CA">
            <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 5.657 6.243.907-4.517 4.404 1.066 6.218"></path>
        </symbol>
        <symbol id="stars-full-star" viewBox="0 0 20 20" fill="#D3A81E">
            <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 5.657 6.243.907-4.517 4.404 1.066 6.218"></path>
        </symbol>
        <symbol id="stars-half-star" viewBox="0 0 20 20" fill="#D3A81E">
            <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 2000"></path>
        </symbol>
    </svg>

<script th:inline="javascript">
    const buttons = document.querySelectorAll('[id^="addToWishlistBtn-"]');

    buttons.forEach(button => {
        button.addEventListener('click', (event) => {
            const bookId = event.target.dataset.bookId;
            fetch('/wishlist/add/' + bookId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                event.target.textContent = 'В списку бажань';
                event.target.disabled = true;
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        });
    });
</script>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>