<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вхід - PaperShare</title>
    <div th:replace="~{fragments/links}"></div>
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" th:src="@{/images/papershare-high-resolution-logo-transparent.png}" alt="PaperShare">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Увійдіть в свій аккаунт</h2>
            <p th:if="${param.error}">
                <span class="text-start text-red-500">Помилка: ім'я користувача або пароль вказано неправильно</span>
            </p>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" th:action="@{/user/auth/sign_in}" th:object="${user}" method="post">
                <div>
                    <label th:for="username" class="block text-sm font-medium leading-6 text-gray-900">Ім'я користувача</label>
                    <div class="mt-2">
                        <input type="text" th:field="*{username}" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label th:for="password" class="block text-sm font-medium leading-6 text-gray-900">Пароль</label>
                        <div class="text-sm">
                            <a th:href="@{/user/auth/forgot_password}" class="font-semibold text-indigo-600 hover:text-indigo-500">Забули пароль?</a>
                        </div>
                    </div>
                    <div class="mt-2">
                        <input  th:field="*{password}" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Увійти</button>
                </div>
            </form>

            <p class="mt-10 text-center text-sm text-gray-500">
                Ще не зареєструвались?
                <a th:href="@{/user/auth/sign_up}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Створити аккаунт</a>
            </p>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
