<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Підтвердження - PaperShare</title>
    <div th:replace="~{fragments/links}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="bg-white py-8">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <p class="text-center text-2xl text-gray-900">Ви успішно підтвердили обмін!</p>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>