<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Обмін повідомленнями - PaperShare</title>
    <div th:replace="~{fragments/links}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mx-auto px-4 py-8">
    <h2 class="mb-4 text-gray-900">Обмін повідомленнями з користувачем
        <a th:if="${exchange_request.requestedBook.owner.username == user.username}"
           th:href="@{'/user/'+${exchange_request.offeredBook.owner.username}}" class="text-blue-500"
           th:text="${exchange_request.offeredBook.owner.username}">
        </a>
        <a th:if="${exchange_request.offeredBook.owner.username == user.username}"
           th:href="@{'/user/'+${exchange_request.requestedBook.owner.username}}" class="text-blue-500"
           th:text="${exchange_request.requestedBook.owner.username}">
        </a>
        щодо обміну №<span id="exchangeRequestId" th:text="${exchange_request.id}"></span>
        книги
        "<a th:href="@{'/book/view/'+${exchange_request.requestedBook.id}}" class="text-blue-500" th:text="${exchange_request.requestedBook.title}"></a>"
        на книгу
        "<a th:href="@{'/book/view/'+${exchange_request.offeredBook.id}}" class="text-blue-500" th:text="${exchange_request.offeredBook.title}"></a>"
    </h2>
    <div class="flex flex-col h-96 overflow-y-auto">
        <div id="message-history" class="flex flex-col space-y-4 p-4"></div>
    </div>

    <div th:if="${exchange_request.status == T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_INITIATOR}"
         class="input-group mt-4 flex">
        <input type="text" class="form-control flex-grow rounded-l border border-gray-300 px-3 py-2" id="newMessage" placeholder="Введіть повідомлення...">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r" type="button" id="sendMessage">Надіслати</button>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const userId = /*[[${user.id}]]*/;
    /*]]>*/
    const exchangeRequestId = parseInt(document.getElementById('exchangeRequestId').textContent, 10);
    const messageHistory = document.getElementById('message-history');

    const sendMessageBtn = document.getElementById('sendMessage');
    const newMessageInput = document.getElementById('newMessage');

    function updateMessageHistory(scroll) {

        fetch('/exchange/dialogue/messages/' + exchangeRequestId)
            .then(response => response.json())
            .then(messages => {
                messageHistory.innerHTML = '';
                messages.forEach(message => {
                    const messageContainer = document.createElement('div');
                    messageContainer.classList.add('flex', message.senderId === userId ? 'justify-end' : 'justify-start');

                    const messageBubble = document.createElement('div');
                    messageBubble.classList.add('p-4', 'rounded-lg', 'max-w-xs', 'md:max-w-md', 'lg:max-w-xl', 'break-words', 'text-slate-100',
                        message.senderId === userId ? 'bg-blue-500' : 'bg-indigo-500');

                    const messageText = document.createElement('p');
                    messageText.textContent = message.message;

                    const timestamp = document.createElement('small');
                    timestamp.classList.add('text-gray-100', 'block', 'text-right');
                    timestamp.textContent = new Date(message.createdAt).toLocaleString();

                    messageBubble.appendChild(messageText);
                    messageBubble.appendChild(timestamp);
                    messageContainer.appendChild(messageBubble);

                    messageHistory.appendChild(messageContainer);
                });
                if(scroll) {
                    messageHistory.scrollIntoView({ block: 'end', behavior: 'instant'});
                }
            })
            .catch(error => console.error('Помилка при отриманні повідомлень:', error));
    }

    if (sendMessageBtn && newMessageInput) {
        sendMessageBtn.addEventListener('click', () => {
            const message = newMessageInput.value.trim();
            if (message !== "") {
                fetch('/exchange/dialogue', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        exchangeRequestId: exchangeRequestId,
                        message: message
                    })
                })
                    .then(response => {
                        if (response.ok) {
                            newMessageInput.value = '';
                            updateMessageHistory(true);
                        } else if (response.status === 400) {
                            alert('Повідомлення занадто довге (більше 1000 символів)');
                        }
                    })
                    .catch(error => {
                        alert('Помилка при надсиланні повідомлення:', error);
                    });
            }
        });

        setInterval(updateMessageHistory, 1000);
    }

    updateMessageHistory(true);
</script>

</body>
</html>
