<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Запропонувати обмін - PaperShare</title>
    <div th:replace="~{fragments/links}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Створити обмін</h1>

    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">

        <h1 class="block text-gray-700 text-2xl font-bold mb-8">Етапи обміну</h1>
        <div class="flex flex-col items-center justify-between md:flex-row">
            <div class="flex flex-col items-center mb-4 md:mb-0 md:mr-4">
                <span class="rounded-full bg-blue-500 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                </span>
                <span class="font-semibold mt-2 text-center">Створення запиту</span>
                <span class="text-gray-500 text-xs text-center">Створення запиту на обмін користувачем, який пропонує обмін</span>
            </div>
            <div class="w-full border-t border-gray-300 my-4 md:w-1/5 md:border-t-0 md:border-r md:my-0"></div>
            <div class="flex flex-col items-center mb-4 md:mb-0 md:mx-4">
                <span class="rounded-full bg-gray-300 p-2">
                    <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                    </svg>
                </span>
                <span class="font-semibold mt-2 text-center">Підтвердження 1</span>
                <span class="text-gray-500 text-xs text-center">Підтвердження користувачем, якому пропонується обмін, книги, яку би він хотів отримати або скасування обміну</span>
            </div>
            <div class="w-full border-t border-gray-300 my-4 md:w-1/5 md:border-t-0 md:border-r md:my-0"></div>
            <div class="flex flex-col items-center mb-4 md:mb-0 md:mx-4">
                <span class="rounded-full bg-gray-300 p-2">
                    <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                    </svg>
                </span>
                <span class="font-semibold mt-2 text-center">Підтвердження 2</span>
                <span class="text-gray-500 text-xs text-center">Підтвердження користувачем, який запропонував обмін, книги, яку захотів отримати інший користувач або скасування обміну</span>
            </div>
            <div class="w-full border-t border-gray-300 my-4 md:w-1/5 md:border-t-0 md:border-r md:my-0"></div>
            <div class="flex flex-col items-center mb-4 md:mb-0 md:mx-4">
                <span class="rounded-full bg-gray-300 p-2">
                    <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                    </svg>
                </span>
                <span class="font-semibold mt-2 text-center">Здійснення обміну</span>
                <span class="text-gray-500 text-xs text-center">Проведення обміну користувачами: узгодження доставки та інших деталей обміну</span>
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-2xl font-bold mb-2">Обрана книга для обміну</label>
            <div class="group">
                <div class="w-72 overflow-hidden rounded-lg bg-gray-200">
                    <img th:src="@{${requested_book.imageUrl}}" alt="cover" class="cover-cover">
                </div>
                <h3 class="mt-4 text-sm text-gray-700" th:text="${requested_book.author}"></h3>
                <p class="mt-1 text-lg font-medium text-gray-900" th:text="${requested_book.title}"></p>
            </div>
            <div class="mt-4">
                <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" th:href="@{'/book/view/'+${requested_book.id}}" target="_blank">Переглянути інформацію про книгу</a>
            </div>
        </div>

        <div class="container">
            <h1 class="text-xl font-medium mb-4">Книга додана користувачем <span class="text-blue-500"><a th:href="@{'/user/'+${owner.username}}" th:text="${owner.username}"></a></span> <span class="text-gray-500" th:text="${#temporals.format(requested_book.createdAt, 'dd.MM.yyyy HH:mm')}"></span> </h1>
            <h2 class="text-xl font-medium mb-4">Рейтинг користувача</h2>
            <div>
                <p class="font-semibold">Достовірність наданої інформації про книги:</p>
                <div class="flex items-center">
                    <div th:each="i : ${#numbers.sequence(1, 5)}"
                         class="flex items-center mr-1">
                        <svg th:if="${owner.averageInformationAccuracy != null} and ${owner.averageInformationAccuracy >= i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-full-star"/>
                        </svg>
                        <svg th:if="${owner.averageInformationAccuracy != null} and ${owner.averageInformationAccuracy >= (i - 0.5) and owner.averageInformationAccuracy < i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-half-star"/>
                        </svg>
                        <svg th:if="${owner.averageInformationAccuracy == null} or ${owner.averageInformationAccuracy < (i - 0.5)}"
                             class="w-8 h-8 text-gray-300 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-empty-star"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <p class="font-semibold">Швидкість відправлення книг:</p>
                <div class="flex items-center">
                    <div th:each="i : ${#numbers.sequence(1, 5)}"
                         class="flex items-center mr-1">
                        <svg th:if="${owner.averageShippingSpeed != null} and ${owner.averageShippingSpeed} >= ${i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-full-star"/>
                        </svg>
                        <svg th:if="${owner.averageShippingSpeed != null} and ${owner.averageShippingSpeed >= (i - 0.5) and owner.averageShippingSpeed < i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-half-star"/>
                        </svg>
                        <svg th:if="${owner.averageShippingSpeed == null} or ${owner.averageShippingSpeed < (i - 0.5)}"
                             class="w-8 h-8 text-gray-300 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-empty-star"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <p class="font-semibold">Загальний досвід обміну з користувачем:</p>
                <div class="flex items-center">
                    <div th:each="i : ${#numbers.sequence(1, 5)}"
                         class="flex items-center mr-1">
                        <svg th:if="${owner.averageOverallExperience != null} and ${owner.averageOverallExperience} >= ${i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-full-star"/>
                        </svg>
                        <svg th:if="${owner.averageOverallExperience != null} and ${owner.averageOverallExperience >= (i - 0.5) && owner.averageOverallExperience < i}"
                             class="w-8 h-8 text-yellow-500 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-half-star"/>
                        </svg>
                        <svg th:if="${owner.averageOverallExperience == null} or ${owner.averageOverallExperience < (i - 0.5)}"
                             class="w-8 h-8 text-gray-300 fill-current"
                             viewBox="0 0 20 20">
                            <use xlink:href="#stars-empty-star"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <form th:action="@{/exchange/create(requestedBook=${requested_book.id})}" method="post" class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Створити обмін
            </button>
        </form>
    </div>
</div>

<svg id="stars" style="display: none;">
    <symbol id="stars-empty-star" viewBox="0 0 20 20" fill="#F1E8CA">
        <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 5.657 6.243.907-4.517 4.404 1.066 6.218"></path>
    </symbol>
    <symbol id="stars-full-star" viewBox="0 0 20 20" fill="#D3A81E">
        <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 5.657 6.243.907-4.517 4.404 1.066 6.218"></path>
    </symbol>
    <symbol id="stars-half-star" viewBox="0 0 20 20" fill="#D3A81E">
        <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 2000"></path>
    </symbol>
</svg>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>