<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Мої обміни - PaperShare</title>
    <div th:replace="~{fragments/links}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold mb-4">Запити на обмін</h2>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2" th:each="exchangeRequest : ${exchange_requests}">
        <div>
            <p>Обмін №<span th:text="${exchangeRequest.id}"></span>.
                Створено
                <span th:text="${#temporals.format(exchangeRequest.createdAt, 'dd.MM.yyyy HH:mm')}"></span>.
                Останнє оновлення статусу:
                <span th:text="${#temporals.format(exchangeRequest.updatedAt, 'dd.MM.yyyy HH:mm')}"></span>.
            </p>
            <div class="mt-2">
                <span th:if="${exchangeRequest.requestedBook.owner.id == user.id && exchangeRequest.requestBookOwnerReadMessages == false}"
                      class="font-bold text-red-500 bg-yellow-100 px-2 py-1 rounded-md">
                        У Вас є непрочитані повідомлення
                    </span>
                <span th:if="${exchangeRequest.offeredBook != null && exchangeRequest.offeredBook.owner.id == user.id && exchangeRequest.offerBookOwnerReadMessages == false}"
                      class="font-bold text-red-500 bg-yellow-100 px-2 py-1 rounded-md">
                        У Вас є непрочитані повідомлення
                </span>
            </div>
        </div>

        <button onclick="toggleDetails(this)" class="text-blue-500 font-medium hover:underline">
            Показати деталі
        </button>

        <div class="hidden mt-4" id="details">
            <div th:if="${exchangeRequest.status != T(com.papershare.papershare.model.ExchangeRequestStatus).CANCELLED}" class="flex flex-col mb-4 items-center justify-between md:flex-row">
                <div class="flex flex-col items-center mb-4 md:mb-0 md:mr-4">
                    <span class="rounded-full bg-blue-500 p-2">
                      <svg class="h-4 w-4 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M5 13l4 4L19 7"></path>
                      </svg>
                    </span>
                    <span class="font-semibold mt-2 text-center">Створення запиту</span>
                    <span class="text-gray-500 text-xs text-center">Створення запиту на обмін користувачем, який пропонує обмін</span>
                </div>
                <div class="w-full border-t border-gray-300 my-4 md:w-1/5 md:border-t-0 md:border-r md:my-0"></div>
                <div th:switch="${exchangeRequest.status}" class="flex flex-col items-center mb-4 md:mb-0 md:mx-4">
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).CREATED}" class="rounded-full bg-blue-500 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).DECLINED_BY_OWNER}" class="rounded-full bg-red-500 p-2">
                        <svg class="h-4 w-4 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </span>
                    <span th:case="*" class="rounded-full bg-blue-500 p-2">
                        <svg class="h-4 w-4 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                    </span>
                    <span class="font-semibold mt-2 text-center">Підтвердження 1</span>
                    <span class="text-gray-500 text-xs text-center">Підтвердження користувачем, якому пропонується обмін, книги, яку би він хотів отримати або скасування обміну</span>
                </div>
                <div class="w-full border-t border-gray-300 my-4 md:w-1/5 md:border-t-0 md:border-r md:my-0"></div>
                <div th:switch="${exchangeRequest.status}" class="flex flex-col items-center mb-4 md:mb-0 md:mx-4">
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_OWNER}" class="rounded-full bg-blue-500 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).DECLINED_BY_INITIATOR}" class="rounded-full bg-red-500 p-2">
                        <svg class="h-4 w-4 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).CREATED}" class="rounded-full bg-gray-300 p-2">
                        <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).DECLINED_BY_OWNER}" class="rounded-full bg-gray-300 p-2">
                        <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                        </svg>
                    </span>
                    <span th:case="*" class="rounded-full bg-blue-500 p-2">
                        <svg class="h-4 w-4 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                    </span>
                    <span class="font-semibold mt-2 text-center">Підтвердження 2</span>
                    <span class="text-gray-500 text-xs text-center">Підтвердження користувачем, який запропонував обмін, книги, яку захотів отримати інший користувач або скасування обміну</span>
                </div>
                <div class="w-full border-t border-gray-300 my-4 md:w-1/5 md:border-t-0 md:border-r md:my-0"></div>
                <div th:switch="${exchangeRequest.status}" class="flex flex-col items-center mb-4 md:mb-0 md:mx-4">
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_INITIATOR}" class="rounded-full bg-blue-500 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).SUCCESS}" class="rounded-full bg-blue-500 p-2">
                        <svg class="h-4 w-4 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).FAILURE}" class="rounded-full bg-red-500 p-2">
                        <svg class="h-4 w-4 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).CREATED}" class="rounded-full bg-gray-300 p-2">
                        <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_OWNER}" class="rounded-full bg-gray-300 p-2">
                        <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).DECLINED_BY_OWNER}" class="rounded-full bg-gray-300 p-2">
                        <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                        </svg>
                    </span>
                    <span th:case="${T(com.papershare.papershare.model.ExchangeRequestStatus).DECLINED_BY_INITIATOR}" class="rounded-full bg-gray-300 p-2">
                        <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                        </svg>
                    </span>
                    <span class="font-semibold mt-2 text-center">Здійснення обміну</span>
                    <span class="text-gray-500 text-xs text-center">Проведення обміну користувачами: узгодження доставки та інших деталей обміну</span>
                </div>
            </div>

            <div th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).CANCELLED}"
                 class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">Обмін книгами було скасовано одним з користувачів.</span>
            </div>

            <ul class="divide-y divide-gray-200">
                    <li class="py-4">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <div>
                                    <p class="font-medium text-gray-900">
                                        Користувач
                                        <a th:href="@{'/user/'+${exchangeRequest.initiator.username}}" class="text-blue-500" th:text="${exchangeRequest.initiator.username}"></a> пропонує обміняти книгу:
                                        <a th:href="@{'/book/view/'+${exchangeRequest.requestedBook.id}}" class="text-blue-500" th:text="${exchangeRequest.requestedBook.title}"></a>
                                    </p>
                                    <div class="flex items-center">
                                        <p class="font-medium text-gray-900">
                                            Надавши користувачу
                                            <a th:href="@{'/user/'+${exchangeRequest.requestedBook.owner.username}}" class="text-blue-500" th:text="${exchangeRequest.requestedBook.owner.username}"></a>
                                            взамін книгу:<span th:if="${exchangeRequest.offeredBook == null}">
                                                <i class="fas fa-question-circle"></i>Книга ще не обрана користувачем, якому зробили пропозицію обміну
                                            </span>
                                            <a th:if="${exchangeRequest.offeredBook != null}" th:href="@{'/book/view/'+${exchangeRequest.offeredBook.id}}" class="text-blue-500"
                                                  th:text="${exchangeRequest.offeredBook.title}"></a>
                                        </p>
                                    </div>
                                    <div th:if="${exchangeRequest.status != T(com.papershare.papershare.model.ExchangeRequestStatus).CANCELLED
                                                  && exchangeRequest.status != T(com.papershare.papershare.model.ExchangeRequestStatus).SUCCESS
                                                  && exchangeRequest.status != T(com.papershare.papershare.model.ExchangeRequestStatus).FAILURE}">
                                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                            <div class="flex flex-col items-start mt-4 space-y-2">
                                                <a th:href="@{'/exchange/select?exchange_id='+${exchangeRequest.id}}"
                                                   th:if="${exchangeRequest.offeredBook == null && exchangeRequest.requestedBook.owner.id == user.id}"
                                                   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                    Вибрати книгу
                                                </a>
                                                <a th:href="@{'/exchange/select/confirm?exchange_id='+${exchangeRequest.id}}"
                                                   th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_OWNER && exchangeRequest.offeredBook.owner.id == user.id}"
                                                   class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                    Підтвердити обмін
                                                </a>
                                                <a th:href="@{'/exchange/dialogue?exchange_id='+${exchangeRequest.id}}"
                                                   th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_INITIATOR}"
                                                   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                    Перейти до повідомлень
                                                </a>
                                                <a th:href="@{'/exchange/cancel?exchange_id='+${exchangeRequest.id}}"
                                                   class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                    Скасувати обмін
                                                </a>
                                            </div>
                                            <div th:if="${exchangeRequest.requestedBook.owner.id == user.id &&
                                                        exchangeRequest.requestBookOwnerConfirm == false}"
                                                 class="flex flex-col items-start mt-4 space-y-2">
                                                <a th:href="@{'/exchange/confirm?exchange_id='+${exchangeRequest.id}}"
                                                   th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_INITIATOR}"
                                                   class="bg-green-800 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                    Підтвердити успішний обмін
                                                </a>
                                                <a th:href="@{'/exchange/failure?exchange_id='+${exchangeRequest.id}}"
                                                   th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_INITIATOR}"
                                                   class="bg-red-800 hover:bg-red-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                    Повідомити адміністратора про неуспішний обмін
                                                </a>
                                            </div>
                                            <div th:if="${exchangeRequest.offeredBook != null && exchangeRequest.offeredBook.owner.id == user.id &&
                                                        exchangeRequest.offerBookOwnerConfirm == false}"
                                                 class="flex flex-col items-start mt-4 space-y-2">
                                                <a th:href="@{'/exchange/confirm?exchange_id='+${exchangeRequest.id}}"
                                                   th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_INITIATOR}"
                                                   class="bg-green-800 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                    Підтвердити успішний обмін
                                                </a>
                                                <a th:href="@{'/exchange/failure?exchange_id='+${exchangeRequest.id}}"
                                                   th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).ACCEPTED_BY_INITIATOR}"
                                                   class="bg-red-800 hover:bg-red-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                    Повідомити адміністратора про неуспішний обмін
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:unless="${exchangeRequest.status != T(com.papershare.papershare.model.ExchangeRequestStatus).CANCELLED
                                                  && exchangeRequest.status != T(com.papershare.papershare.model.ExchangeRequestStatus).SUCCESS
                                                  && exchangeRequest.status != T(com.papershare.papershare.model.ExchangeRequestStatus).FAILURE}"
                                         class="flex flex-col items-start mt-4 space-y-2">
                                        <a th:if="${exchangeRequest.offeredBook != null}" th:href="@{'/exchange/dialogue?exchange_id='+${exchangeRequest.id}}"
                                           class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                            Перейти до історії повідомлень
                                        </a>
                                        <div th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).SUCCESS &&
                                                    exchangeRequest.initiator.id == user.id &&
                                                    exchangeRequest.offerBookOwnerRatedRequestBookOwner == false}">
                                            <div class="bg-white rounded-lg shadow-md p-4">
                                                <h2 class="text-lg font-medium text-gray-900">Оцініть користувача з яким Ви провели обмін</h2>
                                                <form id="ratingForm" th:action="@{'/exchange/rating?exchange_id='+${exchangeRequest.id}}" method="post" class="mt-4">
                                                    <div class="grid grid-cols-3 gap-4">
                                                        <div>
                                                            <label for="informationAccuracy" class="block text-sm font-medium text-gray-700">Достовірність наданої інформації про книгу</label>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="1" id="informationAccuracy1" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy1" class="ml-2 block text-sm text-gray-900">1 зірка</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="2" id="informationAccuracy2" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy2" class="ml-2 block text-sm text-gray-900">2 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="3" id="informationAccuracy3" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy3" class="ml-2 block text-sm text-gray-900">3 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="4" id="informationAccuracy4" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy4" class="ml-2 block text-sm text-gray-900">4 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="5" id="informationAccuracy5" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy5" class="ml-2 block text-sm text-gray-900">5 зірок</label>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="shippingSpeed" class="block text-sm font-medium text-gray-700">Швидкість відправлення книги</label>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="1" id="shippingSpeed1" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed1" class="ml-2 block text-sm text-gray-900">1 зірка</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="2" id="shippingSpeed2" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed2" class="ml-2 block text-sm text-gray-900">2 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="3" id="shippingSpeed3" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed3" class="ml-2 block text-sm text-gray-900">3 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="4" id="shippingSpeed4" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed4" class="ml-2 block text-sm text-gray-900">4 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="5" id="shippingSpeed5" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed5" class="ml-2 block text-sm text-gray-900">5 зірок</label>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="overallExperience" class="block text-sm font-medium text-gray-700">Загальний досвід обміну з користувачем</label>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="1" id="overallExperience1" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience1" class="ml-2 block text-sm text-gray-900">1 зірка</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="2" id="overallExperience2" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience2" class="ml-2 block text-sm text-gray-900">2 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="3" id="overallExperience3" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience3" class="ml-2 block text-sm text-gray-900">3 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="4" id="overallExperience4" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience4" class="ml-2 block text-sm text-gray-900">4 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="5" id="overallExperience5" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience5" class="ml-2 block text-sm text-gray-900">5 зірок</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-6">
                                                        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                            Оцінити
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).SUCCESS &&
                                                exchangeRequest.requestedBook.owner.id == user.id &&
                                                exchangeRequest.requestBookOwnerRatedOfferBookOwner == false}">
                                            <div class="bg-white rounded-lg shadow-md p-4">
                                                <h2 class="text-lg font-medium text-gray-900">Оцініть користувача з яким Ви провели обмін</h2>
                                                <form id="ratingForm" th:action="@{'/exchange/rating?exchange_id='+${exchangeRequest.id}}" method="post" class="mt-4">
                                                    <div class="grid grid-cols-3 gap-4">
                                                        <div>
                                                            <label for="informationAccuracy" class="block text-sm font-medium text-gray-700">Достовірність наданої інформації про книгу</label>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="1" id="informationAccuracy1" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy1" class="ml-2 block text-sm text-gray-900">1 зірка</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="2" id="informationAccuracy2" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy2" class="ml-2 block text-sm text-gray-900">2 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="3" id="informationAccuracy3" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy3" class="ml-2 block text-sm text-gray-900">3 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="4" id="informationAccuracy4" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy4" class="ml-2 block text-sm text-gray-900">4 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="informationAccuracy" value="5" id="informationAccuracy5" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="informationAccuracy5" class="ml-2 block text-sm text-gray-900">5 зірок</label>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="shippingSpeed" class="block text-sm font-medium text-gray-700">Швидкість відправлення книги</label>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="1" id="shippingSpeed1" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed1" class="ml-2 block text-sm text-gray-900">1 зірка</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="2" id="shippingSpeed2" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed2" class="ml-2 block text-sm text-gray-900">2 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="3" id="shippingSpeed3" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed3" class="ml-2 block text-sm text-gray-900">3 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="4" id="shippingSpeed4" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed4" class="ml-2 block text-sm text-gray-900">4 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="shippingSpeed" value="5" id="shippingSpeed5" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="shippingSpeed5" class="ml-2 block text-sm text-gray-900">5 зірок</label>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="overallExperience" class="block text-sm font-medium text-gray-700">Загальний досвід обміну з користувачем</label>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="1" id="overallExperience1" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience1" class="ml-2 block text-sm text-gray-900">1 зірка</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="2" id="overallExperience2" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience2" class="ml-2 block text-sm text-gray-900">2 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="3" id="overallExperience3" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience3" class="ml-2 block text-sm text-gray-900">3 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="4" id="overallExperience4" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience4" class="ml-2 block text-sm text-gray-900">4 зірки</label>
                                                            </div>
                                                            <div class="mt-1 flex items-center">
                                                                <input type="radio" name="overallExperience" value="5" id="overallExperience5" class="form-radio h-4 w-4 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="overallExperience5" class="ml-2 block text-sm text-gray-900">5 зірок</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-6">
                                                        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                            Оцінити
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <a th:href="@{'/exchange/failure?exchange_id='+${exchangeRequest.id}}"
                                           th:if="${exchangeRequest.status == T(com.papershare.papershare.model.ExchangeRequestStatus).CANCELLED &&
                                                    exchangeRequest.offeredBook != null && exchangeRequest.requestedBook != null}"
                                           class="bg-red-800 hover:bg-red-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                            Повідомити адміністратора про неуспішний обмін
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script>
    function toggleDetails(button) {
      const detailsDiv = button.nextElementSibling;
      detailsDiv.classList.toggle('hidden');
      button.textContent = detailsDiv.classList.contains('hidden') ? 'Показати деталі' : 'Сховати деталі';
    }
</script>
</body>
</html>