<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Налаштування - PaperShare</title>
    <div th:replace="~{fragments/links}"></div>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="bg-white py-12 mx-auto max-w-7xl px-6 lg:px-8 sm:py-16">
        <form th:action="@{/user/settings}" th:object="${userData}" method="post" enctype="multipart/form-data">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Профіль</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-600">Ця інформація буде доступна публічно, тому будьте обрежні з тим, що Ви публікуєте.</p>

                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Ім'я</label>
                            <div class="mt-2">
                                <p id="username" th:text="*{username}" class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></p>
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="photo" class="block text-sm font-medium leading-6 text-gray-900">Фото профілю</label>
                            <div id="photo" class="mt-2 flex items-center gap-x-3">
                                <label for="full-image">
                                    <p>Повнорозмірне зображення</p>
                                    <img id="full-image" class="w-64" th:src="*{imageUrl}" alt="full-image">
                                </label>
                                <label for="minimized-image">
                                    <p>Мініатюрне зображення</p>
                                    <img id="minimized-image" class="h-8 w-8" th:src="*{imageUrl}" alt="minimized-image">
                                </label>
                                <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                    <input id="file-upload" name="uploaded-image" type="file">
                                </label>
                                <p class="text-xs leading-5 text-gray-600">PNG, JPG, WEBP</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Приватна інформація</h2>

                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                            <label for="firstName" class="block text-sm font-medium leading-6 text-gray-900">Ім'я</label>
                            <div class="mt-2">
                                <input id="firstName" type="text" th:field="*{firstName}" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="lastName" class="block text-sm font-medium leading-6 text-gray-900">Прізвище</label>
                            <div class="mt-2">
                                <input id="lastName" type="text" th:field="*{lastName}" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div class="sm:col-span-4">
                            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Електронна пошта</label>
                            <div class="mt-2">
                                <input id="email" th:field="*{email}" type="email" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <a th:href="@{/}" class="text-sm font-semibold leading-6 text-gray-900">Скасувати</a>
                <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Зберегти</button>
            </div>
        </form>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>